#app {
  background-color: #fafafa;

  .app_container {
    max-width: 1200px!important;
    margin: auto;
  }
  
  a {
    text-decoration: none;
    color: #262626!important;
  }
 }

.spread_feed {
  max-width: 600px;
  min-width: 600px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;

  .page_title {
    border-bottom: 1px solid #ccc;
  }
}

.suggestions, .sidebar {
  width: 100%;
}
.sidebar, .suggestions {
  .fixed {
    position: fixed;
    top: 84px;
  }
}